<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbbstu.easyExcelTest.settings.mapper.StudentMapper">
  
  <insert id="save">
    insert into student values
    <foreach collection="studentList" item="stu" separator=",">
      (#{stu.id},#{stu.classId},#{stu.majorId},#{stu.collegeId},#{stu.identityId},#{stu.reportTime},#{stu.image},#{stu.state})
    </foreach>
  </insert>
  <select id="getExcelClassList" resultMap="ExcelBaseResultMap">
    select s.id, c.name as className, m.name as major, col.name as college, s.identity_id , s.report_time, s.image, s.state
    from student s
    join class c on s.class_id = c.id
    join major m on s.major_id = m.id
    join college col on s.college_id = col.id
  </select>

  <resultMap id="ExcelBaseResultMap" type="com.tbbstu.easyExcelTest.settings.domain.ExcelClass">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="class_id" jdbcType="VARCHAR" property="className" />
    <result column="major_id" jdbcType="VARCHAR" property="major" />
    <result column="college_id" jdbcType="VARCHAR" property="college" />
    <result column="identity_id" jdbcType="VARCHAR" property="identity" />
    <result column="report_time" jdbcType="VARCHAR" property="report_date" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>

  <resultMap id="BaseResultMap" type="com.tbbstu.easyExcelTest.settings.domain.Student">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 27 16:01:41 CST 2022.
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="major_id" jdbcType="VARCHAR" property="majorId" />
    <result column="college_id" jdbcType="VARCHAR" property="collegeId" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="report_time" jdbcType="VARCHAR" property="reportTime" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="state" jdbcType="CHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 27 16:01:41 CST 2022.
    -->
    id, class_id, major_id, college_id, identity_id, report_time, image, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 27 16:01:41 CST 2022.
    -->
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 27 16:01:41 CST 2022.
    -->
    delete from student
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tbbstu.easyExcelTest.settings.domain.Student">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 27 16:01:41 CST 2022.
    -->
    insert into student (id, class_id, major_id, 
      college_id, identity_id, report_time, 
      image, state)
    values (#{id,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{majorId,jdbcType=VARCHAR}, 
      #{collegeId,jdbcType=VARCHAR}, #{identityId,jdbcType=VARCHAR}, #{reportTime,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{state,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tbbstu.easyExcelTest.settings.domain.Student">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 27 16:01:41 CST 2022.
    -->
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="majorId != null">
        major_id,
      </if>
      <if test="collegeId != null">
        college_id,
      </if>
      <if test="identityId != null">
        identity_id,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null">
        #{collegeId,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tbbstu.easyExcelTest.settings.domain.Student">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 27 16:01:41 CST 2022.
    -->
    update student
    <set>
      <if test="classId != null">
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        major_id = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null">
        college_id = #{collegeId,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        identity_id = #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tbbstu.easyExcelTest.settings.domain.Student">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 27 16:01:41 CST 2022.
    -->
    update student
    set class_id = #{classId,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=VARCHAR},
      identity_id = #{identityId,jdbcType=VARCHAR},
      report_time = #{reportTime,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>